
<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackathon</title>
    <link href="layout/styles/main.css" rel="stylesheet" type="text/css" media="all">
	<link href="layout/styles/mediaqueries.css" rel="stylesheet" type="text/css" media="all">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
     <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href="css/layout.css" rel="stylesheet">
	 <link href="css/govicons.min.css" rel="stylesheet">
     <link href="style.css" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
     </style>

 
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <br><a class="navbar-brand topnav title-GOI" href="#"><i class=" gi gi-capitol blue "></i> &nbsp;Ministry Of Social Justice </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-click="scrollTo('home')" href="index.html">Home</a>
                    </li>     
					<li>
                        <a ng-click="scrollTo('login')" href="Jobs/cat.html">JOBS</a>
                    </li>

					<li>
                        <a ng-click="scrollTo('login')" href="rule.html">Rules & Regulation</a>
                    </li>
					<li>
                        <a ng-click="scrollTo('login')" href="rti.html">RTI</a>
                    </li>
					<li>
                        <a ng-click="scrollTo('login')" href="backend/index.php">Login</a>
                    </li>
                    <li>
                        <a ng-click="scrollTo('contactUs')" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
  </nav>    
</header>
     <main class="site-main">
        <section class="hero_area">
            <div class="hero_content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
						<h2>Goverment Of India </h2>
                        <h4>Giving You Best Oppurtunities </h4>
						<hr class="intro-divider">
   
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
<div class onMouseMove="right">
  		<div clas="col-sm-10">
  				<marquee bgcolor="white " align="right"> 
  				<h3>--------------Hackathon 2018---------------- </h3>
  				</marquee>
    </div>
</div>
   <div  align="center">
      <pre class="bg-primary"><strong>Welcome to the Official Site of Minisitry of Social Injustice</strong></pre>
</div>

<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
      <div class="one_half">
        <article class="clear push30">
          <div class="boxholder"><img src="img/l1.jpg" alt=""></div>
          <h4 align="center" style="color: #000"> <i class="gi gi-handshake"></i>WELCOME<i class="gi gi-handshake"></i></span></h4>
          <p align="justify">The Ministry of Social Justice and Empowerment is a Government of India ministry. It is responsible for welfare, social justice and empowerment of disadvantaged and marginalised sections of society, including scheduled castes (SC), Other Backward Classes (OBC), the disabled, the elderly, and the victims of drug abuse. The Ministry of TribalAffairs is responsible for the welfare of scheduled tribes (ST).</p> 

 <p align="justify">The Minister of Social Justice and Empowerment holds cabinet rank as a member of the Council of Ministers. The current minister is Thawar Chand Gehlot, who is assisted by a Minister of State, Vijay Sampla, Krishan Pal Gujjar and Ramdas Athavale.</p>
          <footer class="read-more"><a href="#">Read More &raquo;</a></footer>
        </article>
        <h2>Other Links</h2>
        <ul class="nospace spacing clear">
          <li class="one_half first">
            
		 <ul>
			<li class="current"><a href="#http://www.disabilityaffairs.gov.in" title=""> Disability Affairs</a></li>
			<li class="current"><a href="#http://www.iphnewdelhi.in" title="">National Institue of Pwd</a></li>
			<li class="current"><a href="#http://www.nhfdc.nic.in/" title=""> NHDFC</a></li>
			<li class="current"><a href="#http://www.alimco.in/" title=""> ALIMCO</a></li>
            <li class="current"><a href="#https://scholarships.gov.in/" title=""> Scholarship Govt</a></li>
            <li class="current"><a href="#http://thenationaltrust.gov.in/content/" title=""> National Trust</a></li>
            <li class="current"><a href="#http://www.svnirtar.nic.in/" title="">SVNIRTAR</a></li>
            <li class="current"><a href="#http://isiconline.org/" title="">Indian Spinal Injuries Center </a></li>
            <li class="current"><a href="#http://www.nvsp.in/" title="">NVSP Portal</a></li>
   
         </ul>
          </li>
        
      </div>
      <!-- ########################FOr Notification adn Ministry ############################## -->

      <div class="one_half">
        <article class="clear push60">
          <div class="one_quarter first center"><img src="img/modi.png"></span>
          </div>
          <div class="three_quarter">
            <h1 class="emphasise nospace">Hon'able Prime Minister</h1>
            <p class="nospace">Narendra Damodardas Modi is an Indian politician who is the 16th
			and current Prime Minister of India, in office since May 2014. He was the Chief Minister of Gujarat from 2001 to 2014,
			and is the Member of Parliament for Varanasi.<br><br><br>"Now we have it from the prime minister himself that massive employment has
			been created by people selling goods on streets," former CPM general secretary Prakash Karat wrote in an editorial in the
			party journal "People's Democracy"</p>
		  </div>
		  </article>
               <article class="clear push60">
         		 <div class="one_quarter first center"><img src="img/index.png"></span>
          </div>
          <div class="three_quarter">
       
 			<h1 class="emphasise nospace">Notifications</h1>
            <p class="nospace">
            <marquee direction="up" scrolldelay="20" align="absmiddle"><br><br><br><br>
           <li align="justify" class="big" style="color: #000"><i class="gi gi-reticle-dot"></i>Guidelines for Assessment of Extent of Disability and Certification of Specified Disabilities</li>
           <li align="justify" class="big" style="color: #000"><i class="gi gi-reticle-dot"></i>Minutes of the 9th Meeting of Screening committee under SIPDA held on 17.05.2016</li>
           </marquee>
          </div>
        </article>
		<article>
          <div class="one_quarter first center"><img src="img/references-logo.png"></span>
          </div>
          <div class="three_quarter">
            <h1 class="emphasise nospace">References</h1>
            <div class="col-sm-15 home_bottom">
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="6000" id="myCarousel">
                                    <div class="carousel-inner">
                                        <div class="item active" position:static>
                                            <div class="col-md-8 col-sm-10 col-xs-12 p10">
                                                <a href="#"><img src="img/l1.jpg" class="img-responsive" alt="Reference"></a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-8 col-sm-10 col-xs-12 p10">
                                                 <a href="#"><img src="img/l5.jpg" class="img-responsive" alt="Reference"></a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-8 col-sm-10 col-xs-12 p10">
                                                <a href="#"><img src="img/l3.jpg" class="img-responsive" alt="Reference"></a>
                                            </div>
                                        </div>
                                        <div class="item">
                                           <div class="col-md-8 col-sm-10 col-xs-12 p10">
                                                <a href="#"><img src="img/l4.jpg" class="img-responsive" alt="Reference"></a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="col-md-8 col-sm-10 col-xs-12 p10">
                                                <a href="#"><img src="img/l5.jpg" class="img-responsive" alt="Reference"></a>
                                            </div>
                                        </div>
                                             
                                    </div>
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                </div>
                            </div>                            
                        </div>
          </div>
        </article>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>

        <section class="home-area">
            <div class="home_content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><h2 class="sub_title">LATEST NEWS</h2></div>
                        <div class="home_list">
                            <ul>
                                <li class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="img/h1.jpeg" alt="Post">
                                        <div class="caption">
                                            <h3><a href="#">Achivment</a></h3>
                                            <p>Pwd Workers Achiveing Great Sucees.</p>
                                            <a href="#" class="btn btn-link" role="button">More</a>
                                        </div>
                                    </div>                                        
                                </li>
                                <li class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="img/h2.jpg" class="img-responsive" alt="Post">
                                        <div class="caption">
                                            <h3><a href="#">Achivment</a></h3>
                                            <p>Pwd Workers Achiveing Great Sucees..</p>
                                            <a href="#" class="btn btn-link" role="button">More</a>
                                        </div>
                                    </div>                                        
                                </li>
                                <li class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="img/h3.jpeg" class="img-responsive" alt="Post">
                                        <div class="caption">
                                            <h3><a href="#">Achivment</a></h3>
                                            <p>Pwd Workers Achiveing Great Sucees..</p>
                                            <a href="#" class="btn btn-link" role="button">More</a>
                                        </div>
                                    </div>                                        
                                </li>
                                <li class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="thumbnail">
                                        <img src="img/h4.jpeg" class="img-responsive" alt="Post">
                                        <div class="caption">
                                            <h3><a href="#">Achivment</a></h3>
                                            <p>Pwd Workers Achiveing Great Sucees.</p>
                                            <a href="#" class="btn btn-link" role="button">More</a>
                                        </div>
                                    </div>                                        
                                </li>                                    
                            </ul>
                        </div>
                        
                        
                        <div class="col-sm-3">
                            <h2 class="sub_title w10">CALL YOU</h2>
                            <div class="clearfix"></div>
                            <div class="login-form-1">
                                <form id="login-form" class="text-left">
                                    <div class="login-form-main-message"></div>
                                    <div class="main-login-form">
                                        <div class="login-group">
                                            <div class="form-group">
                                                <label for="ad" class="sr-only">Name</label>
                                                <input type="text" class="form-control" id="ad" name="ad" placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="tel" class="sr-only">Phone Number</label>
                                                <input type="text" class="form-control" id="tel" name="tel" placeholder="Phone Number">
                                            </div>
                                        </div>
                                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
<footer class="site-footer">
        
          <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p class="pull-left">&copy; 2018 Ministry Of Social Justice & impowerment</p>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-inline navbar-right">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">JOBS</a></li>
                            <li><a href="#">RULES</a></li>
                            <li><a href="#">RTI</a></li>
                            <li><a href="#">COMPANIES</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </footer>

   
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->	
    <script src="js/jquery-2.1.1.min.js"></script>	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/jquery.isotope.min.js"></script> 
	<script src="js/functions.js"></script>
	<script>
	wow = new WOW(
	 {
	
		}	) 
		.init();
	</script>
	
  </body>
</html>