
<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackathon</title>
    <link href="layout/styles/main.css" rel="stylesheet" type="text/css" media="all">
	<link href="layout/styles/mediaqueries.css" rel="stylesheet" type="text/css" media="all">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
     <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href="css/layout.css" rel="stylesheet">
	 <link href="css/govicons.min.css" rel="stylesheet">
     <link href="style.css" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
     </style>

 
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <br><a class="navbar-brand topnav title-GOI" href="#"><i class="gi gi-capitol"></i> &nbsp;Ministry Of Social Justice </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-click="scrollTo('home')" href="index.html">Home</a>
                    </li>     
						<li>
                       		 <a ng-click="scrollTo('Jobs')" href="job.html">JOBS</a>
                  	    </li>
							<li>
                      		  <a ng-click="scrollTo(Rule')" href="rule.html">Rules & Regulation</a>
                  		    </li>
								<li>
                       				 <a ng-click="scrollTo('RTI')" href="rti.html">RTI</a>
                   				</li>
										<li>
                        					<a ng-click="scrollTo('login')" href="login.html">Login</a>
                    					</li>
                    		<li>
                        			<a ng-click="scrollTo('about')" href="about.html">About Us</a>
                    	    </li>   
                      <li>
                    	    <a ng-click="scrollTo('contactUs')" href="contact.html">Contact Us</a>
                     </li>
                </ul>
            </div>
        </div>
  </nav>    
</header>
<body>
 <!-- #####################################Login PHphp######################################## -->

</body>
</body>
</html>
