<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackaton</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/govicons.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
 
</head>
<body>
    <header class="site-header">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p >Goverment Of India</p>
                    </div>
                    <div class="col-sm-7">
                        <ul class="list-inline pull-right">
                            <li><a href="www.fb.com/mr.kishorbaidya"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                            <li><a href="tel:+91-7620053352"><i class="fa fa-phone"></i> +91 7620053352</a></li>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
 <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <br><a class="navbar-brand topnav title-GOI" href="#"><i class=" gi gi-capitol blue "></i> &nbsp;Ministry Of Social Justice </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-click="scrollTo('home')" href="index.html">Home</a>
                    </li>     
					<li>
                        <a ng-click="scrollTo('login')" href="job.html">JOBS</a>
                    </li>
					<li>
                        <a ng-click="scrollTo('login')" href="rule.html">Rules & Regulation</a>
                    </li>
					<li>
                        <a ng-click="scrollTo('login')" href="rti.html">RTI</a>
                    </li>
					<li>
                        <a ng-click="scrollTo('login')" href="login.html">Login</a>
                    </li>
                    <li>
                        <a ng-click="scrollTo('contactUs')">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>      
	   <!---- Nacigation End--->
	<div class="bread_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="#index.html" title="Post">Home</a></li>
                        <li class="active">Job Category</li>
                    </ol>                    
                </div>
            </div>
        </div>
    </div>    
	
	 <main class="site-main category-main">
        <div class="container">
            <div class="row">
                <section class="category-content col-sm-9">
                    <h2 class="category-title">Job For Disabled People</h2>
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="#" title="Post">
                                    <img class="media-object" src="img/r1.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#railway.com" title="Post Title">Railway Recruitment Boards (RRB)</a></h3>
                          <p align="justify">Railway Recruitment Boards (RRB) Centralized recruitment of Group D employment notification has published on 10th February 2018. The RRB Recruitment 2018 Apply Online for 62907 Group D Vacancies in the posts covered are Track Maintainer Grade IV (Trackman),
								Gateman, Points-man, Helpers in Electrical / Engineering / Mechanical / Signal and Telecommunication departments, Porter etc. Government of India, Ministry of railways, Railway Recruitment Boards (RRB) invites Online applications from eligible Indian Nations 
								for recruitment of various positions in various units of Indian Railways / RRB Boards. The Latest RRB Group D Jobs 2018 Centralized Employment 02/2018 Online registration has been started from 10th February 2018 and registration close on 31st March 2018</p>
                          <p align="justify"><br>
                          </p>
                           <div class="pull-left">
										
										<div class="arc-date">Last Date : 31/March/2018</div>
                                        <div class="arc-comment"><a href="#" title="Apply"><i class="fa fa-book"></i> Apply Here</a></div>
                       <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="#" title="Post">
                                    <img class="media-object" src="img/r1.jpg" alt="Post">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading"><a href="#railway.com" title="Post Title">Railway Recruitment Boards (RRB)</a></h3>
                          <p align="justify">Railway Recruitment Boards (RRB) Centralized recruitment of Group D employment notification has published on 10th February 2018. The RRB Recruitment 2018 Apply Online for 62907 Group D Vacancies in the posts covered are Track Maintainer Grade IV (Trackman),
								Gateman, Points-man, Helpers in Electrical / Engineering / Mechanical / Signal and Telecommunication departments, Porter etc. Government of India, Ministry of railways, Railway Recruitment Boards (RRB) invites Online applications from eligible Indian Nations 
								for recruitment of various positions in various units of Indian Railways / RRB Boards. The Latest RRB Group D Jobs 2018 Centralized Employment 02/2018 Online registration has been started from 10th February 2018 and registration close on 31st March 2018</p>
                          <p align="justify"><br>
                          </p>
                           <div class="pull-left">
										
										<div class="arc-date">Last Date : 31/March/2018</div>
                                        <div class="arc-comment"><a href="#" title="Apply"><i class="fa fa-book"></i> Apply Here</a></div>
                                    </div>
                                </aside>
                       </header>
                          <footer class="site-footer">
                            
                            <div id="copyright">
                              <div class="container">
                                <div class="row">
                                  <div class="col-md-4">
                                    <p class="pull-left">&copy; 2018 Ministry Of Social Justice & impowerment</p>
                                    </div>
                                  <div class="col-md-8">
                                    <ul class="list-inline navbar-right">
                                      <li><a href="#">HOME</a></li>
                                      <li><a href="#">JOBS</a></li>
                                      <li><a href="#">RULES</a></li>
                                      <li><a href="#">RTI</a></li>
                                      <li><a href="#">COMPANIES</a></li>
                                      <li><a href="#">About Us</a></li>
                                      </ul>
                                    </div>
                                  </div>
                              </div>
                              </div>        
                          </footer>
                          
                          
                          
                          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->	
                          <script src="js/jquery-2.1.1.min.js"></script>	
                          <!-- Include all compiled plugins (below), or include individual files as needed -->
                          <script src="js/bootstrap.min.js"></script>
                          <script src="js/wow.min.js"></script>
                          <script src="js/fancybox/jquery.fancybox.pack.js"></script>
                          <script src="js/jquery.easing.1.3.js"></script>
                          <script src="js/jquery.bxslider.min.js"></script>
                          <script src="js/jquery.prettyPhoto.js"></script>
                          <script src="js/jquery.isotope.min.js"></script> 
                          <script src="js/functions.js"></script>
                          <script>
	wow = new WOW(
	 {
	
		}	) 
		.init();
	</script>
                          
  </body>
</html>
	
	
	